@import "../../../styles/var";

.PaymentsList {
  &__search-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
  &__additional-box {
    margin-bottom: 1rem;
    &--box {
      width: 50%;
      display: inline-block;
    }
    &--left{
      text-align: left;
      display: inline-block;
    }
    &--right{
      text-align: right;
      display: inline-block;
    }
    &--search {
      width: 300px !important;
    }
  }
  &--link {
    &:hover {
      cursor: pointer;
      color: $primary-color;
    }
  }
  &-table {
    &-service {
      .ant-tag {
        height: auto;
        background-color: transparent;
        padding: 0.3rem 0.6rem;
        border: 1px solid $color-grey;
        color: $color-grey-dark;
        font-size: 1rem;
      }
    }

    &-current {
      color: $color-green-neon;
    }

    table {

      thead > tr > th,
      .ant-table-thead > tr > th.ant-table-column-sort {
        background: $color-darker-blue;
        background: linear-gradient($color-darker-blue, $color-blue);
        color: $color-white;
      }

      .ant-table-thead > tr > th .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter-down.on {
        color: #fff !important;
      }

      .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
        background: linear-gradient($color-darker-blue, $color-blue);
      }

      .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:hover {
        background: linear-gradient($color-darker-blue, $color-blue);
      }

      .anticon.anticon-filter.ant-dropdown-trigger::before{
        background: rgba(0, 0, 0, 0.04) !important;
      }

      .ant-table-thead > tr > th .anticon-filter, .ant-table-thead > tr > th .ant-table-filter-icon {
        border-top-right-radius: 0.9rem;
        &:hover {
          color: #fff !important;
        }
      }

      .ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter {
        color: #fff;
      }

      .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open {
        background: rgba(0, 0, 0, 0.04) !important;
        color: #fff !important;
      }

      td {
        border-right: 0;
      }

      tbody > tr {
        &.ant-table-expanded-row > td {
          padding: 0;
        }

        &.ant-table-expanded-row > tr:hover > td {
          background: transparent;
        }

        td.PaymentsList-table-approve {
          padding: 0;
          line-height: 3.375rem;

          button {
            height: 70px;
            width: 100%;
            font-size: 1.5rem;
            background: transparent;
            transition: font-size 0.5s;
            &:hover {
              font-size: 2.5rem;
            }

            &:focus {
              outline: none;
            }

            &.active {
              color: $color-green-neon;
              font-size: 2.5rem;
            }
          }
        }

        td.ant-table-row-expand-icon-cell {
          span {
            border-radius: 50%;
            border: 2px solid $color-blue;
            height: 1.5rem;
            width: 1.5rem;

            &:after {
              color: $color-blue;
              font-size: 1.2rem;
              line-height: 1.25rem;
              margin-left: 0.0625rem;
            }
          }
        }
      }
    }
    .payment-status-box {
      width: 150px;
      padding: 10px;
      label {
        font-weight: normal;
      }
    }
  }

  &-selector {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
    margin-right: 8%;

    & > label {
      margin-right: 0.5rem;
    }
  }
}
