@import '../../styles/variables.less';

.Payments {
  &-table {
    &-service {
      .ant-tag {
        height: auto;
        background-color: transparent;
        padding: 0.3rem 0.6rem;
        border: 1px solid @color-grey;
        color: @color-grey-dark;
        font-size: 1rem;
      }
    }
  }
}
