@import "../../../../../styles/var";

.Profile {
  &--button {
    margin-left: 0.6rem;
  }
  &-link {
    color: $primary-color;
    text-decoration: underline;
    &:hover{
      cursor: pointer;
    }
  }
  &-box-informations {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  &-name {
    font-size: 1.725rem;
    color: black;
  }

  &-address,
  &-phone {
    display: flex;

    .Profile-label {
      font-style: italic;
      margin-right: 1rem;
    }

    .Profile-value {
      font-weight: 500;
      color: black;
    }
  }

  &-filters {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-period {
    font-size: 1.25rem;
  }

  &-icon{
    margin-left: 1rem;
  }

  &-warning{
    color: $color-error;
  }
}
