@import "../../../styles/var";

.BankInfo {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 50px;

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__warning {
    margin-bottom: 1rem;
    font-size: 0.7rem;
    color: $color-error;
    text-align: left;
  }

  &__errors {
    color: red;
  }

  &__form {
    width: 100%;
    text-align: center;
    .InputGroup {
      width: 50%;

      .InputGroup-input {
        width: 100%;
      }
    }
  }
}
