@import "../../../../styles/variables.less";

div.Sidebar {
  background-color: @menu-background;
  padding: 0;
  height: 60px;
  line-height: 60px;

  ul > li.Sidebar-header {
    div.Sidebar-header-brand {
      .anticon {
        width: 3.25rem;
        transition: none !important;
      }
    }
  }
}
