@import "../../../../styles/variables.less";

.Sidebar {
  background-color: @menu-background;
  height: 100vh;

  .Sidebar-header {
    content: @menu-accent;
    font-size: 1rem;
  }

  .Sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    transition: 0.3s ease-out opacity;
    padding: 16px 24px;

    img {
      width: 100px;
      max-width: 100px;
    }
  }

  img.anticon {
    width: 10px;
  }
  &.ant-layout-sider-collapsed .Sidebar-footer {
    opacity: 0;
  }
  .ant-menu-dark,
  .ant-menu-dark .ant-menu-sub {
    background-color: @menu-background;
  }
}
