@import "../../../../../styles/var";

.Stats {
  margin-top: 1.875rem;

  &__header {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid #f0f2f5;
    &--type {
      flex: 4;
      font-size: 1.25rem;
      text-transform: uppercase;
      padding-left: 1.25rem;
      min-width: 120px;
      letter-spacing: 1px;
    }
    &--progress {
      flex: 5;
    }
  }

  &--header {
    width: 100%;
  }

  &__badge {
    .ant-badge-count {
      background-color: #4a4a4a;
      color: #fff;
    }
  }

  &__row {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 1rem 1.25rem;
  }

  &__count {
    flex: 1;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    min-width: 60px;
    max-width: 80px;
  }

  &__type {
    flex: 1;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: left;
    padding-left: 1.25rem;
    min-width: 120px;
    letter-spacing: 1px;
  }

  &__progress {
    flex: 10;
    padding-right: 1.25rem;
    .ant-progress-inner {
      background: transparent;
      border-radius: 0;
      .ant-progress-bg {
        border-radius: 0;
        height: 0.875rem !important;
      }
    }
  }

  &--active {
    color: $color-active;
    .ant-progress-bg {
      background-color: $color-active;
    }
  }

  &--resting {
    color: $color-resting;
    .ant-progress-bg {
      background-color: $color-resting;
    }
  }

  &--inactive {
    color: $color-inactive;
    .ant-progress-bg {
      background-color: $color-inactive;
    }
  }
}
