@import "../../styles/var";

.StatusBlock {
  display: inline-block;
  &--block {
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    height: 44px;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
    line-height: 40px
  }

  &--verified, &--reviewed, &--processed {
    color: white;
    background-color: $color-active;
  }

  &--retry, &--document, &--pending, &--new {
    color: black;
    background-color: $color-resting;
  }

  &--suspended, &--deactivated, &--failed {
    color: white;
    background-color: $color-inactive;
  }
}
