$namedColors: (
  black: #000000,
  blue: #4c92e0,
  green: #aadc74,
  green-neon: #80d134,
  grey-light: #f4f4f4,
  grey-dark: #2a292a,
  pink: #e56fb3,
  white: #ffffff
);

$background: map-get($namedColors, "grey-light");

$menu: (
  accent: map-get($namedColors, "pink"),
  background: map-get($namedColors, "grey-dark")
);

$border-radius: 0.9rem;
$box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
