@import "../../node_modules/antd/lib/style/themes/default.less";

@color-black: #000000;
@color-blue: #4c92e0;
@color-green: #aadc74;
@color-green-neon: #80d134;
@color-grey: #adacad;
@color-grey-light: #f4f4f4;
@color-grey-dark: #2a292a;
@color-pink: #e56fb3;
@color-white: #ffffff;

@body-background: @color-grey-light;

@menu-accent: @color-pink;
@menu-background: @color-grey-dark;

@box-shadow: 0 0 10px 2px rgba(150, 150, 150, 0.3);

@border-radius: 0.9rem;
