@import "../../node_modules/antd/lib/style/themes/default.less";
@import "../../theme/antd/antd-overriden-variables.less";

@color-black: #000000;
@color-blue: #0187ed;
@color-darker-blue: #2172e7;
@color-green: #aadc74;
@color-green-neon: #80d134;
@color-grey: #aeadae;
@color-grey-light: #f4f4f4;
@color-grey-lighter: #e8e8e8;
@color-grey-medium: #9b9b9b;
@color-grey-dark: #2a292a;
@color-grey-disabled: #d8d8d8;
@color-pink: #e56fb3;
@color-white: #ffffff;

@color-active: #7ed322;
@color-resting: #f8e71c;
@color-inactive: #fa5c5c;

@body-background: @color-grey-light;

@menu-accent: @color-pink;
@menu-background: @color-white;

@box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.06);

@border-radius: 0.9rem;

@active-menu-item-color: @color-blue;

@screen-mac-pro: 1440px;

@Topbar-height: 4.875rem;
