@import "../../styles/variables.less";

.InputGroup {
  display: inline-block;
  padding: 1rem;
  vertical-align: top;

  &-label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: @color-grey-dark;
    letter-spacing: 0.0625rem;
  }

  &-errors {
    margin-top: 0.5rem;
    color: red;
  }

  .ant-input, .ant-select-auto-complete.ant-select .ant-input {
    color: @color-blue;
    border-color: @color-grey-medium;
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding: 4px 0 0;
    height: 36px;
    background: transparent;

    &:focus, &:hover, &:active, &:focus-within, &:visited {
      outline: none !important;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      box-shadow: none;
    }
  }

  .ant-calendar-picker-icon {
    top: 50%;
    margin-top: 0;
    transform: translateY(-50%);
  }

  .ant-select-auto-complete.ant-select .ant-select-selection__placeholder{
    margin: -10px 0 0 0;
  }

  .ant-select-auto-complete.ant-select .ant-select-selection__rendered {
    line-height: 34px;
  }

}
