.LinkWithIcon {
  display: flex;
  justify-content: stretch;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.LinkWithIcon-icon {
  flex-shrink: 0;
  padding: 10px 15px;
}

.LinkWithIcon-label {
  flex-grow: 1;
  flex-shrink: 0;
}
