@import "../../src/styles/variables.less";
@import url("https://fonts.googleapis.com/css?family=Exo:400,500,600,700");

/* Override default Ant Design variables */
/* https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less */
@primary-color: @color-blue;
@secondary-color: @color-grey;

// @padding-lg: 1.8rem;
// @padding-md: 1.5rem;
// @padding-sm: 1rem;
// @padding-xs: 0.8rem;

@layout-header-background: @color-grey-dark;
@font-family: "Exo", @font-family-no-number;
@border-radius-base: 0.4rem;
@radio-dot-color: @color-blue;

@btn-height-base: 44px;
@btn-height-lg: 4.1rem;
@btn-height-sm: 2rem;
@btn-font-size-sm: 1rem;
@btn-font-size-lg: 1.25rem;
@btn-padding-base: 0 1.5rem;
@btn-padding-lg: 0 2.5rem;
@btn-padding-sm: 0 0.8rem;
@btn-font-weight: 500;

@input-height-base: 44px;
@input-height-lg: 4.1rem;
@input-height-sm: 2rem;
@input-padding-horizontal: 0.8rem;
@input-padding-horizontal-base: 12px;
@input-padding-horizontal-sm : 0.5rem;
@input-padding-horizontal-lg : 1.5rem;
// @input-padding-vertical-base : 4px;
// @input-padding-vertical-sm   : 1px;
// @input-padding-vertical-lg   : 6px;

.ant-btn {
  &-background-ghost {
    border-color: @color-grey;
    color: @color-grey;
  }

  &-secondary {
    background-color: @secondary-color;
    color: @color-white;
  }

  & > .anticon + span {
    margin-right: 8px;
  }
  & > span + .anticon {
    margin-left: 8px;
  }
}

.ant-radio {
  &-button-wrapper-checked {
    background: @color-blue;
    color: @color-white;

    &:hover {
      color: @color-white;
      background: darken(@color-blue, 10%);
    }
  }
}

.ant-form-item {
  margin-bottom: 0;
}

.ant-row + .ant-row,
.ant-row + .ant-row-flex,
.ant-row-flex + .ant-row,
.ant-row-flex + .ant-row-flex {
  margin-top: 0.5rem;
}
