@import "../../src/styles/variables.less";
@import url("https://fonts.googleapis.com/css?family=Exo:400,500,600,700");

/* Override default Ant Design variables */
/* https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less */
@primary-color: @color-blue;
@secondary-color: @color-grey;

@layout-header-background: @color-grey-dark;
@font-family: "Exo", @font-family-no-number;
@border-radius-base: 0.4rem;
@radio-dot-color: @color-blue;

.ant-btn {
  &-background-ghost {
    border-color: @color-grey;
    color: @color-grey;
  }

  &-secondary {
    background-color: @secondary-color;
    color: @color-white;
  }

  & > .anticon + span {
    margin-right: 8px;
  }
  & > span + .anticon {
    margin-left: 8px;
  }
}

.ant-radio {
  &-button-wrapper-checked {
    background: @color-blue;
    color: @color-white;

    &:hover {
      color: @color-white;
      background: darken(@color-blue, 10%);
    }
  }
}

.ant-row + .ant-row,
.ant-row + .ant-row-flex,
.ant-row-flex + .ant-row,
.ant-row-flex + .ant-row-flex {
  margin-top: 1rem;
}
