.Filters {
  display: flex;
  justify-content: space-between;

  > * {
    margin-right: 0.5rem;
  }
  > *:last-child {
    margin-right: 0;
  }

  .ant-input-affix-wrapper {
    width: auto;
    flex-grow: 1;
    margin-right: 0.5rem;
  }
}
