@import "../../../styles/variables.less";

.Filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  > * {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  > *:last-child {
    margin-right: 0;
  }

  .Filters-period-selector {
    .ant-btn {
      margin-right: 0.5rem;
    }
  }

  .Filters-search {
    width: auto;
    flex-basis: 300px;
    flex-grow: 1;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    @media (max-width: @screen-md-max) {
      margin-right: 0;
      order: 4;
    }
  }

  .Filters-actions {
    * + .ant-btn {
      margin-left: 0.5rem;
    }
  }
}
