@import "../../../styles/var";

.Company {
  padding: 1rem;
  width: 100%;
  //background-color: #fff;
  &__button-container {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
  &--button {
      padding: 1rem 3rem;
    }
  }
  &__errors {
    color: $color-inactive;
  }

  .InputGroup {
    width: 50%;
  }

  .ant-calendar-picker {
    width: 100%;
  }
}
