@import "../../../../../styles/var";

.Summary {
  display: flex;
  margin-bottom: 2rem;

  &-box {
    flex: 1;
    display: flex;
    padding-left: 2.5rem;
  }

  &-title {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin-right: 10px;
    margin-top: 1rem;
  }

  &-value {
    font-size: 1.8rem;
  }

  &-details {
    color: $color-grey;

    span {
      display: block;
      font-size: 1.1rem;
    }
  }

  &-prev {
    color: $color-blue;
  }

  &-current {
    color: $color-green-neon;
  }
}
