@import "../../styles/variables.less";

.Header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: 1rem 0;
}

.Header-title {
  flex-grow: 0;
  font-weight: 500;
  margin: 0 2rem 0 0;
}

.Header-left {
  flex-grow: 1;
  text-align: left;

  > * + * {
    margin-left: 1rem;
  }
}
.Header-right {
  flex-grow: 1;
  text-align: right;

  > * + * {
    margin-right: 1rem;
  }
}

@media (max-width: @screen-md-max) {
  .Header {
    flex-wrap: wrap;
  }
  .Header-title,
  .Header-left,
  .Header-right {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: @screen-sm-max) {
  .Header-left,
  .Header-right {
    text-align: left;
    flex-basis: 100%;
  }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  .Header-title {
    flex-basis: 100%;
  }
}
