@import "../../styles/var";

.Welcome {
  &__topbar {
    width: 100%;
    position: absolute;
    button {
      position: absolute;
      margin: 5px;
      right: 0px;
    }
  }
  background-color: #fff;
  display: flex;
  height: 100vh;
  overflow-x: hidden;

  &__steps {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    &--spin {
      display: block !important;
      margin: 0 auto !important;
    }
  }

  &__container {
    width: 900px;
    margin: 0 auto;
    height: 100%;

    @media (min-width: $screen-xs-min) {
      width: $screen-xs;
    }
    @media (min-width: $screen-sm-min) {
      padding: 1rem 3rem;
      width: $screen-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $screen-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $screen-lg;
    }
    @media (min-width: $screen-xl-min) {
      width: 900px;
    }
  }
}
