@import "../../../styles/var";

.ContractorsList {
  &__additional-box {
    margin-bottom: 1rem;
    &--box {
      width: 50%;
      display: inline-block;
    }
    &--left{
      text-align: left;
      display: inline-block;
    }
    &--right{
      text-align: right;
      display: inline-block;
    }
    &--search {
      width: 300px !important;
    }
  }
  &__table {
    table {
      thead > tr > th,
      .ant-table-thead > tr > th.ant-table-column-sort {
        background: $color-darker-blue;
        background: linear-gradient($color-darker-blue, $color-blue);
        color: $color-white;
      }

      .ant-table-thead > tr > th .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter-down.on {
        color: #fff !important;
      }

      .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
        background: linear-gradient($color-darker-blue, $color-blue);
      }

      .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover .anticon-filter:hover, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters:hover .ant-table-filter-icon:hover {
        background: linear-gradient($color-darker-blue, $color-blue);
      }

      .anticon.anticon-filter.ant-dropdown-trigger::before{
        background: rgba(0, 0, 0, 0.04) !important;
      }

      .ant-table-thead > tr > th .anticon-filter, .ant-table-thead > tr > th .ant-table-filter-icon {
        border-top-right-radius: 0.9rem;
        &:hover {
          color: #fff !important;
        }
      }

      .ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter {
        color: #fff;
      }

      .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .anticon-filter.ant-table-filter-open, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters .ant-table-filter-icon.ant-table-filter-open {
        background: rgba(0, 0, 0, 0.04) !important;
        color: #fff !important;
      }

      td.ContractorsList__activity {
        padding: 0;
        .ContractorsList--active,
        .ContractorsList--resting,
        .ContractorsList--inactive {
          padding: 16px;
          color: #fff;
        }
      }
    }
  }

  &--active {
    background: $color-active;
  }
  &--resting {
    background: $color-resting;
  }
  &--inactive {
    background: $color-inactive;
  }
}
