.JobsList {
  margin-right: 25%;

  .ant-table .ant-table-content table {
    border: none;

    thead > tr > th {
      background: initial;
      color: initial;
      border-right: 0;
    }

    tbody > tr > td {
      padding: 1rem;
      border-bottom: 0;
      border-right: 0;
    }
  }
}
