@import "../../styles/var";

.ResetPassword {
  background-color: #fff;
  display: flex;
  height: 100vh;
  overflow-x: hidden;  

  &__msg {
    font-size: 2rem;
    text-align: center;
    margin: 4rem auto;
  }

  &__button-container {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    &--button {
      padding: 1rem 3rem;
    }
  }
  &__errors {
    color: $color-inactive;
  }

  .InputGroup {
    width: 50%;
    &--wide {
      width: 100%;
    }
  }

  &__container {
    width: 900px;
    margin: 0px auto;
    height: 100%;

    @media (min-width: $screen-xs-min) {
      width: $screen-xs;
    }
    @media (min-width: $screen-sm-min) {
      padding: 1rem 3rem;
      width: $screen-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $screen-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $screen-lg;
    }
    @media (min-width: $screen-xl-min) {
      width: 900px;
    }
  }

  &__form {
    .InputGroup {
      width: 50%;

      .InputGroup-input {
        width: 100%;
      }
    }
  }
}
