.Box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.Box .ant-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 15px;
}
.Box .ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 15px;
}
.Box .ant-table-body > tr:last-child > th:first-child {
  border-bottom-left-radius: 15px;
}
.Box .ant-table-body > tr:last-child > th:last-child {
  border-bottom-right-radius: 15px;
}
.Box .ant-pagination {
  margin-right: 1rem;
}
