@import "../../styles/var";

.Actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--top {
    margin-bottom: 1rem;
  }

  &--bottom {
    margin-top: 1rem;
  }
}

.Actions-left {
  flex-grow: 1;
  text-align: left;

  > * + * {
    margin-left: 1rem;
  }
}
.Actions-right {
  flex-grow: 1;
  text-align: right;

  > * + * {
    margin-right: 1rem;
  }
}

@media (max-width: $screen-md-max) {
  .Actions {
    flex-wrap: wrap;
  }
  .Actions-left,
  .Actions-right {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: $screen-sm-max) {
  .Actions-left,
  .Actions-right {
    text-align: left;
    flex-basis: 100%;
  }
}
