@import "../../../styles/var";

.DocumentList {
  &__back {
    margin-bottom: 2rem;
  }
  &__type {
      text-transform: uppercase;
  }
  &__table {
    &__buttons {
      Button {
        margin-right: 0.5rem;
      }
    }
    &__type {
      text-transform: uppercase;
      font-weight: bold;
    }
    table {
      thead > tr > th,
      .ant-table-thead > tr > th.ant-table-column-sort {
        background: $color-darker-blue;
        background: linear-gradient($color-darker-blue, $color-blue);
        color: $color-white;
      }
      .ant-table-column-sorter-up.on .anticon-caret-up,
      .ant-table-column-sorter-down.on .anticon-caret-up,
      .ant-table-column-sorter-up.on .anticon-caret-down,
      .ant-table-column-sorter-down.on .anticon-caret-down {
        color: #fff;
      }
      td.Documents__activity {
        padding: 0;
        .Documents--active,
        .Documents--resting,
        .Documents--inactive {
          padding: 16px;
          color: #fff;
        }
      }

      td.Documents__date, td.Documents__status {
        max-width: 250px !important;
        width: 250px;
      }
    }
  }
  &__status {
    text-transform: uppercase;
    font-weight: 500;
    &--pending {
      color: $color-resting;
    }
    &--approved {
      color: $color-active;
    }
    &--rejected {
      color: $color-inactive;
    }
  }

  &--active {
    background: $color-active;
  }
  &--resting {
    background: $color-resting;
  }
  &--inactive {
    background: $color-inactive;
  }
}
